.ul {
  list-style-type: none;
}

.eventChip {
  background: linear-gradient(0deg, #CCCCC1, #CCCCC1), #ECECEC;
  border-radius: 15px;
  margin: 1em 0;
  width: 250px;
  height: 50px;

  /*font-family: 'Jost';*/
  /*font-style: normal;*/
  font-weight: 400;
  font-size: 15px;
  line-height: 36px;
  /* identical to box height, or 720% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;

  color: #000000;
}
