.panel {
  display: flex;
  flex-direction: row;
}

.panelContent {
  width: 300px;
}

.panelActions {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  /* justify-content: center; */
}
