.rodeoCard{
    max-height: 400px;
    /* ^^ this will cut off content, but it's a temp fix before looking into how better to handle varying text lengths */

    max-width: 330px;
    min-width: 200px;
    /* ^^ this is the responsiveness culprit - look into how MUI handles width/grid resizing */

    /* look into MUI themes for things like this */
    background: #7C96B8;
    /* darken drop shadows and onHover to compensate for background color? probably also a theme question I guess */
    border-radius: 20px;
}

.rodeoTitleText{
    font-weight: 600;

    /* look into MUI themes for things like this */
    /* Typography "variant" overrides? */
    font-family: 'Jost';
    color: #000000;
}

.rodeoText {
    /* look into MUI/global themes for things like this */
    /* Typography "variant" overrides? */
    font-family: 'Jost';
    color: #000000; 
}